<div class="form-container">
  <h2>Nova linha</h2>
  <div *ngIf="formLines">
    <form autocomplete="off" [formGroup]="formLines" (ngSubmit)="onSubmit()">
      <app-text-input [formGroup]="formLines" name="code" placeholder="Código"></app-text-input>
      <app-text-input [formGroup]="formLines" name="name" placeholder="Nome"></app-text-input>
      <div class="directions-container">
        <app-text-input [formGroup]="formLines" name="forward" placeholder="Ida"></app-text-input>
        <app-text-input [formGroup]="formLines" name="backward" placeholder="Volta"></app-text-input>
      </div>
      <app-text-input [formGroup]="formLines" name="color" placeholder="Cor"></app-text-input>
      <app-button text="cadastrar"></app-button>
    </form>
  </div>
</div>
