<div class="form-container">
  <h2>Nova linha</h2>
  <form>
    <app-text-input name="code" placeholder="Código"></app-text-input>
    <app-text-input name="name" placeholder="Nome"></app-text-input>
    <div class="directions-container">
      <app-text-input name="forward" placeholder="Ida"></app-text-input>
      <app-text-input name="backward" placeholder="Volta"></app-text-input>
    </div>
    <app-text-input name="color" placeholder="Cor"></app-text-input>
    <app-button text="cadastrar" (onClick)="alerta()"></app-button>
  </form>
</div>
