<div class="form-container">
  <h2>Novo Ônibus</h2>
  <form autocomplete="off" [formGroup]="formBuses" (ngSubmit)="onSubmit()">
    <app-text-input name="code" [formGroup]="formBuses" placeholder="Código"></app-text-input>
    <div class="directions-container">
      <app-text-input name="latitude" [formGroup]="formBuses" placeholder="latitude"></app-text-input>
      <app-text-input name="longitude" [formGroup]="formBuses" placeholder="longitude"></app-text-input>
    </div>
    <app-text-input name="line" [formGroup]="formBuses" placeholder="Linha"></app-text-input>
    <app-button text="cadastrar"></app-button>
  </form>
</div>