<div class="lines-container">
  <div class="content">
    <div class="container-left">
      <app-form-lines></app-form-lines>
    </div>
    <div class="container-right">
      <h3>Buscar Linha</h3>
      <form [formGroup]="formSearch" *ngIf="formSearch">
        <app-text-input [formGroup]="formSearch" name="search" placeholder=""></app-text-input>
      </form>
      <div class="lines">
        <app-line-card></app-line-card>
        <app-line-card></app-line-card>
        <app-line-card></app-line-card>
        <app-line-card></app-line-card>
      </div>
    </div>
  </div>
</div>