<div class="lines-container">
  <div class="content">
    <div class="container-left">
      <app-form-buses></app-form-buses>
    </div>
    <div class="container-right">
      <h3>Buscar Ônibus</h3>
      <app-text-input name="search" placeholder=""></app-text-input>
      <p>Todos os onibus</p>
      <div class="buses">
        <app-bus-card></app-bus-card>
        <app-bus-card></app-bus-card>
        <app-bus-card></app-bus-card>
        <app-bus-card></app-bus-card>
      </div>
    </div>
  </div>
</div>
