<div class="lines-container">
  <div class="content">
    <div class="container-left">
      <app-form-buses></app-form-buses>
    </div>
    <div class="container-right">
      <h3>Buscar Ônibus</h3>
      <form [formGroup]="formSearch">
        <app-text-input [formGroup]="formSearch" name="search" placeholder=""></app-text-input>
      </form>
      <p>Todos os onibus</p>
      <div class="buses">
        <div *ngFor="let bus of search()">
          <app-bus-card [bus]="bus"></app-bus-card>
        </div>
      </div>
    </div>
  </div>
</div>
