<div class="stops-container">
  <div class="content">
    <div class="container-left">
      <app-form-stops></app-form-stops>
    </div>
    <div class="container-right">
      <h3>Buscar Pontos</h3>
      <form [formGroup]="formSearch">
        <app-text-input [formGroup]="formSearch" name="search" placeholder=""></app-text-input>
      </form>
      <p>Todos os pontos</p>
      <div class="stops">
        <div *ngFor="let stop of search()">
          <app-stop-card [stop]="stop"></app-stop-card>
        </div>
      </div>
    </div>
  </div>
</div>
